{{!-- Conflict Tracker Footer --}}
<div class="tb2e-conflict-footer">

  {{#unless hasCombat}}
  {{#if isGM}}
  <div class="create-conflict-controls">
    <button type="button" class="conflict-control" data-action="createConflict">
      <i class="fa-solid fa-shield-halved"></i>
      {{localize "TB2E.Conflict.CreateConflict"}}
    </button>
  </div>
  {{/if}}
  {{/unless}}

  {{#if hasCombat}}
  <div class="conflict-active-controls">
    <button type="button" class="conflict-control" data-action="openPanel">
      <i class="fa-solid fa-book-open"></i>
      {{localize "TB2E.Conflict.OpenPlaybook"}}
    </button>
    {{#if isGM}}
    <button type="button" class="conflict-control" data-action="endConflict">
      <i class="fa-solid fa-flag-checkered"></i>
      {{localize "TB2E.Conflict.EndConflict"}}
    </button>
    {{/if}}
  </div>
  {{/if}}

</div>
