<div class="tb2e-chat-card card-accent--red grind-tick-card">
  <div class="card-body grind-tick-body">
    <p>{{body}}</p>
  </div>
  <div class="card-banner banner-dark">
    <i class="fa-solid fa-hourglass-end"></i>
    <span>{{localize "TB2E.GrindTracker.GrindTicks"}}</span>
  </div>
</div>
