<div class="advancement-dialog-body">
  <h3 class="advancement-dialog-title">{{label}}</h3>
  <p class="advancement-dialog-prompt">{{prompt}}</p>
  <div class="advancement-rating-display">
    <span class="advancement-rating old">{{currentRating}}</span>
    <i class="fa-solid fa-arrow-right"></i>
    <span class="advancement-rating new">{{newRating}}</span>
  </div>
</div>
